#ide
.idea/

# sources
backend/mlm-standard-api
admin/mlm-ng-admin
member/mlm-ng
resource/mlm-ng

# backend files
backend/go-space/bin/mlm-standard-api
backend/go-space/runtime

release/admin/admin.tar.gz
release/member/member.tar.gz
release/resource/resource.tar.gz
release/backend/go-space/bin/mlm-standard-api
release.tar.gz